In [ ]:
#Q.1 Write a code to reverse a string
string1=input("Enter a string : ")
string1=string1[::-1]
print(string1)

Enter a string : HELLO WORLD
DLROW OLLEH

In [ ]:
#Q.2 Write a code to count number of vowles in a string
def vowel_count(n):
    count = 0
    vowels = 'aeiouAEIOU'
    for char in n:
        if char in vowels:
            count += 1
    return count
vowel_count("Hello World")

3

In [ ]:
#Q.3 Write a code to check if a given string is palindrome or not
def check_palindrome(n):
    n=n.lower()
    if n == n[::-1]:
      return "Palindrome"
    else:
      return "Not a palindrome"
check_palindrome("Racecar")

'Palindrome'

In [ ]:
#Q.4 Write code to check if strings are anagrams of each other
#Angrams string contain same characters in same frequencies
def check_anagrams(str1,str2):
  str1=str1.lower()
  str2=str2.lower()
  str1=str1.replace(" ","")
  str2=str2.replace(" ","")
  if sorted(str1)== sorted(str2):
    return "Anagrams"
  else:
    return "Not Anagrams"
check_anagrams("Listen","Silent")

'Anagrams'

In [ ]:
#Q.5  Write a code to find all occurrences of given substring within another string
def find_all_occurences(string,substring):
  result=[]
  for i in range(len(string)-len(substring)):
    if string[i:i+len(substring)]==substring:
      result.append(i)
  return result
find_all_occurences("HELOLOLO HELLOO","LO")

[2, 4, 6, 12]

In [ ]:
#Q.6 Write a code to perform basic string compression using the count of repeated characters
def string_compression (string):
  if not string:
    return ""
  result=[]
  count=1
  for i in range(len(string)-1):
    if string[i]==string[i+1]:
        count += 1

    else:
      result.append(f"{string[i]}{count}")
      count=1
  result.append(f"{string[-1]}{count}")
  return ''.join(result)
string_compression("Hellooooo")

'H1e1l2o5'

In [ ]:
#Q.7  Write a code to determine if a string has all unique character
def check_unique(string):
   string = string.lower().replace(" ", "")
   check=set()
   for char in string:
      if char in check:
          return "String does not contain all unique characters"
      check.add(char)
   return "String has all unique characters"
check_unique("Hey Champ")

'String does not contain all unique characters'

In [ ]:
# Q.8 Write code to convert a given string to uppercase or lowercase
def convert_upper_lower(string,to_upper=True):
  if to_upper==True:
    return string.upper()
  else:
    return string.lower()

print(convert_upper_lower("HEllO World"))
print(convert_upper_lower("HELLO WORld",False))

HELLO WORLD
hello world

In [ ]:
#Q.9 Write a code to count the number of words in a string
def count_words(string):
  count=0
  words=string.split(" ")
  for i in words:
    count+=1
  return count
count_words("hello world")

2

In [ ]:
#Q.10 Write a code to concatenate without using the + operator
def concatenate_string(str1,str2):
    return (f"{str1} {str2}")
concatenate_string("Hello","World")

'Hello World'

In [ ]:
#Q.11  Write a code to remove all occurrences of specific element from a list
def remove_element(list1,element):
  result=[i for i in list1 if i!=element]
  return result
remove_element([1,2,3,5,6],6)

[1, 2, 3, 5]

In [ ]:
#Q.12  Implement a code to find the second largest number in a given list of integers.
def second_largest_integer(list1):

   list1=list(set(list1))
   list1.remove(max(list1))
   return max(list1)
second_largest_integer([1,2,3,46,46])

3

In [ ]:
#Q.13 Create a code to count the occurence of each element in a list and return a dictionary with elements as keys and their count as values
def count_occurence(list1):
  dict={}
  for i in list1:
    if i in dict:
      dict[i]+=1
    else:
      dict[i]=1
  return dict
count_occurence([1,2,"HI",2,1])

{1: 2, 2: 2, 'HI': 1}

In [2]:
#Q.14 Write a code to reverse a list in-place without using any built-in reverse function
def reverse_list(list1):
  start=0
  end=len(list1)-1
  while start<end:
    list1[start],list1[end] =list1[end],list1[start]
    start+=1
    end-=1
  return list1
reverse_list([1,2,4,6,10,0])

[0, 10, 6, 4, 2, 1]

In [ ]:
#Q.15 Implement a code to find and remove duplicate element from a list while preserving the original order of a element
def find_remove_duplicate(list1):
    check = set()
    result = []
    for i in list1:
        if i not in check:
            result.append(i)
            check.add(i)
    return result

find_remove_duplicate([1, 2, 4, 5, 2, 1, 1])

[1, 2, 4, 5]

In [ ]:
#Q.16  Create a code to check if a given list is sorted (either in ascending or descending order) or not
def check_sorted(list1):
  for i in range(len(list1)-1):
    if list1[i]>=list1[i+1]:
      return "List is sorted(descending order)"
    elif list1[i]<=list1[i+1]:
      return "List is sorted(Ascending order)"
    else:
      return" List is not sorted"
check_sorted([9,6,5,3,1])

'List is sorted(descending order)'

In [3]:
#Q17. Write a code to merge two sorted lists into a single sorted list
def merge_list(list1,list2):
  merged_list=[]
  i=j=0
  while i<len(list1) and j<len(list2):
    if list1[i]<list2[j]:
      merged_list.append(list1[i])
      i+=1
    else:
      merged_list.append(list2[j])
      j+=1
  while i<len(list1):
    merged_list.append(list1[i])
    i+=1
  while j<len(list2):
    merged_list.append(list2[j])
    j+=1
  return merged_list
merge_list([1,2,3,56],[9,78,16])

[1, 2, 3, 9, 56, 78, 16]

In [ ]:
#Q18. Implement a code to find the intersection of two given lists
def find_intersection(list1,list2):
  list1=set(list1)
  list2=set(list2)
  return list(list1&list2)
find_intersection([1,2,34,5,5,4],[2,3,4,4])

[2, 4]

In [ ]:
#Q19.Create a code to find the union of two lists without duplicates:
def find_union(list1,list2):
  list1=set(list1)
  list2=set(list2)
  return list(list1|list2)
find_union([1,4,7,9,2,1],[1,2,4,7,9])

[1, 2, 4, 7, 9]

In [ ]:
#Q20. Write a code to shuffle a given list randomly without using anybuilt-in shuffle function
#To shuffle a list randomly without using any built-in shuffle functions, we can implement the Fisher-Yates (or Knuth) shuffle algorithm
import random
def random_shuffle(list1):
   for i in range(len(list1)-1,0,-1):
    j=random.randint(0,i)
    list1[i],list1[j]=list1[j],list1[i]
   return list1
random_shuffle([1,2,4,5,6,7,9,5,2 ])

[2, 9, 4, 5, 1, 7, 6, 2, 5]

In [ ]:
#Q.21 Write a code that takes two tuples as input and returns a new tuple containing elementa that are common to both input tuple
def tuple_intersection(tup1,tup2):
  set1=set(tup1)
  set2=set(tup2)
  common=set1 &set2
   # Create a tuple with common elements, preserving order of the first tuple
  return tuple(i for i in tup1 if i in common)

tuple_intersection((1,2,4,5,2,9),(1,3,4,6,4,9))

(1, 4, 9)

In [ ]:
#Q22.Create a code that prompts the user to enter two sets of integers separated by commas.Then print intersection of these two sets
def intersection_sets():
  input1=(input(" Enter first string "))
  input2=(input(" Enter second string"))
  set1=set(map(int,input1.split(",")))
  set2=set(map(int,input2.split(",")))
  return set1 & set2
intersection_sets()

 Enter first string 1,4,2,6,7,8
 Enter second string2,7,6

{2, 6, 7}

In [ ]:
#Q23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
def concat_tuple(tup1,tup2):
    return tup1 + tup2
result = concat_tuple((1, 2, 3), (4, 5, 6))
print(result)

(1, 2, 3, 4, 5, 6)

In [ ]:
#Q24. Develop a code that prompts user to take two sets of strings.Then print the element that are present in the first set but not in the second
def difference_set():
  str1=input("Enter string1 ")
  str2=input("Enter string2 ")
  set1=set(str1.split(","))
  set2=set(str2.split(","))
  difference=set1-set2
  print(difference)

difference_set()

Enter string1 APPLE,MANGO,BANANA
Enter string2 LITCHI,MANGO,GUAVA
{'BANANA', 'APPLE'}

In [ ]:
#Q25.Create a code that take tuple and two integers as input.The function should return a new tuple containing elements from the original tuple within the specified range of indices
def slice_tuple(tup,start,end):
  return tup[start:end]
result=slice_tuple((2,3,5,8,10,14,12),1,6)
print(result)

(3, 5, 8, 10, 14)

In [ ]:
#Q26.Write a code that prompts the user to input two sets of characters. Then print the union of the two sets.
def union_characters():
  str1=input("Enter first string of characters:")
  str2=input("Enter second string of characters:")
  set1=set(str1.split(","))
  set2=set(str2.split(","))
  result=set1|set2
  print(result)
union_characters()

Enter first string of characters:a,b,d,f
Enter second string of characters:b,c,g,h
{'f', 'h', 'g', 'c', 'b', 'd', 'a'}

In [ ]:
#Q27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking
def min_max_tuple(tup):
  return (max(tup),min(tup))
maximum,minimum=min_max_tuple((1,2,4,6,7,3,13,17)) #unpacking the tuple
print("Maximum Value:",maximum)
print("Minimum Value:",minimum)

Maximum Value: 17
Minimum Value: 1

In [ ]:
#Q28. Create a code that take two set of integers .Then print the union,intersection and difference of these two sets
def set_operation(set1,set2):
  print("Union:", set1|set2)
  print("Intersection:",set1&set2)
  print("Difference(set1-set2):",set1-set2)
  print("Difference(set2-set1):",set2-set1)
set_operation({1,2,4,6,7,3,12,10},{2,3,5,26,24,17})

Union: {1, 2, 3, 4, 5, 6, 7, 10, 12, 17, 24, 26}
Intersection: {2, 3}
Difference(set1-set2): {1, 4, 6, 7, 10, 12}
Difference(set2-set1): {24, 17, 26, 5}

In [ ]:
#Q29.Write a code that take tuple and an element as input.The function should return the count of occurrence of the gicen element in the tuple
def count_occurrence_element(tup1,element):
  count=0
  for i in tup1:
    if i==element:
      count+=1
  return count
count_occurrence_element((1,2,3,5,3,1,5,5,5),5)

4

In [ ]:
#Q30.Develop a code that prompts the user to input two sets of strings.Then print the symmentric difference of these two sets
def symmetric_difference():
  str1=input("Enter string1: ")
  str2=input("Enter string2: ")
  set1=set(str1.split(","))
  set2=set(str2.split(","))
  print(set1^set2)

symmetric_difference()

Enter string1: Apple,Mango,Banana
Enter string2: Litchi,Mango,Kiwi
{'Banana', 'Apple', 'Litchi', 'Kiwi'}

In [ ]:
#Q31. Write a code that takes list of words as input and return a dictionary where the keys are the unique words and the values are the frequencies of those words in the list
def count_word_frequencies(list1):
  dict={}
  for i in list1:
    if i in dict:
      dict[i]+=1
    else:
      dict[i]=1
  return dict
count_word_frequencies(["Apple","Banana","Mango","Apple","Mango","Mango"])

{'Apple': 2, 'Banana': 1, 'Mango': 3}

In [ ]:
#Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary .If there are common keys,the value should be added together
def merge_dictionaries(dict1,dict2):
    merged_dict = dict(dict1)
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict

merge_dictionaries({'Apple':6,'Banana':5,'Mango':10}, {'Mango':12,'Litchi':2})

{'Apple': 6, 'Banana': 5, 'Mango': 22, 'Litchi': 2}

In [ ]:
#Q33. Write a code to access value in nested dictionary.The function should take the dictionary and a list of keys as input,and return the correspoind values.If any of the key do not exist in the dictionary,the function shoukd retur  none
def access_value_dictionary(dict1,list1):
  for i in list1:
    if i in dict1:
      dict1=dict1[i]
    else:
      return None
  return dict1
access_value_dictionary({'a': {'b': {'c': 17}}},['a','b','c'])

17

In [ ]:
#Q34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values.you can choose wheter to sort in ascending or descending order
def sort_dictionary(dict1, ascending=True):
    result = sorted(dict1.items(), key=lambda x: x[1], reverse=not ascending)
    sorted_dict = dict(result)
    return sorted_dict
print(sort_dictionary({'a': 3, 'b': 10, 'c': 0}))  # Default is ascending order
print(sort_dictionary({'a': 3, 'b': 10, 'c': 0}, ascending=False))  # Descending order

{'c': 0, 'a': 3, 'b': 10}
{'b': 10, 'a': 3, 'c': 0}

In [ ]:
#Q35. Write a code that inverts a dictionary,swapping keys and values.Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary
def invert_dictionary(dict1):
    d1 = {}
    for key, value in dict1.items():
        if value in d1:
            d1[value].append(key)
        else:
            d1[value] = [key]
    return d1
invert_dictionary({'a': 1, 'b': 2, 'c': 1, 'd': 3})

{1: ['a', 'c'], 2: ['b'], 3: ['d']}